*{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
@font-face {
  font-family: 'zlhfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.zlhfont{
  font-family:"zlhfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.top{
	height: 35px;
    border-bottom: 1px solid #e5e5e5;
    background: #f7f7f7;
}
.top-zho{
	width: 1200px;
	height: 35px;
	margin: 0 auto;
	background: #f7f7f7;
}
.top-zhozuo{
	width: 400px;
	height: 35px;
	float: left;

}
.top-zhozuo li{
	width: 70px;
	height: 35px;
	float: left;
	line-height:35px;
	font-size: 12px;
}
.top-zhozuo1{
    width: 80px;
    max-width: 80px;
    height: 35px;
    margin-right: 10px;
    margin-bottom: -1px;
    text-align: center;
    color: #575757;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background: #fff;
}
.top-zhoyou{
	width: 85px;
	height: 35px;
	float: right;
}
.top-zhoyou li{
	width: 40px;
	height: 35px;
	line-height:35px;
	font-size: 12px;
	float: left;
}

.toplogo{
	width: 1200px;
	height: 55px;
	margin: 0 auto;
	margin-top: 15px;
}
.toplogo img{
	float: left;
}
.toplogo input{
	float: left;
	margin-left: 200px;
	margin-top: 5px;
	font: 14px/38px PingFangSC-Regular,'-apple-system',Simsun;
    width: 326px;
    height: 38px;
    padding: 0 11px;
}
.toplogo span{
	margin-top: 5px;
    float: left;
    width: 40px;
    height: 42px;
    text-align: center;
    background-color: #bf2c24;

}
.iconfont{
     font-size: 18px;
    display: block;
    margin-top: 3px;
    margin-left: 3px;
    width: 27px;
    height: 28px;
    color: #fff;
    background: url(../img/logoso.png);
}
.zlhfont{
     font-size: 18px;
    display: block;
    float: left;
    margin-top: 3px;
    margin-left: 3px;
    width: 27px;
    height: 28px;
    color: #fff;
    background: url(../img/shu.png);
}
.toplogo li{
	float: right;
	font: 14px/1 PingFangSC-Regular,'-apple-system',Simsun;
    display: block;
    width: 118px;
    height: 38px;
    text-align: center;
    border: 1px solid #e6e6e6;
    line-height: 38px;
    text-align: center;
}
.topshangquan{
	width: 100%;
}
.topshang{
	width: 100%;
	height: 40px;
	z-index: 30;
	margin-top: 10px;
    margin-bottom: 10px;
    background-color: #3e3d43;
}
.topshanglan{
	width: 1200px;
	margin: 0 auto;
	height: 40px;
	position: relative;
}
.topshanglanzuo{
	width: 216px;
	height: 37px;
	font: 16px;
	float: left;
    display: block;
    line-height: 37px;
    padding: 0 0 0 18px;
    color: #fff;
    background-color: #313035;
}
.topshanglanzuoimg{
	display: block;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 6px;
	width: 20px;
	height: 25px;
	background: url(../img/fenglan.png);
}
.topshanglanzho{
	float: left;
	width: 666px;
	height: 37px;
}
.topshanglanzho li{
	float: left;
	height: 37px;
}
.topshanglanzho a{
	font: 16px;
    float: left;
    height: 38px;
    padding: 0 32px;
    color: #fff;
    line-height: 37px;
}
.topshanglanzho a:hover{
	background: #333;
	border-top: 2px solid red;
}
.topshanglanyou{
	float: right;
	width: 150px;
	height: 37px;
}
.topshanglanyou1{
	float: left;
	width: 50px;
	height: 37px;
	color: #fff;
	line-height: 37px;
}
.topshanglanyou2{
	float: left;
	width: 50px;
	height: 37px;
	color: #fff;
	line-height: 37px;
}
.topshanglanyou1:hover{
	color: #ffeea8;
}
.topshanglanyou2:hover{
	color: #ffeea8;
}
.topshanglanyou1xian{
	position: absolute;
	top:40px;
	right: 0px;
	width: 300px;
	height: 300px;
	background:#000;
	display: none;
}
.topshanglanyou2xian{
	position: absolute;
	top:40px;
	right: -36px;
	width: 300px;
	display: none;
	background:#000;
	height: 300px;
}











	.content_bottom{
		width: 1200px;
       border-top:1px solid #666666;
       margin-top:10px;
       margin:0 auto;
	}
	
	
	.content_bottom_left{
		width:220px;
		background-color: #f7f6f2;
		float: left;
		
	}
	.content_left1_qiang{
		width:220px;
		font-size:21px;
		color:#262626;
		text-align:center;
		float: left;
		
	}
	.content_bottom_left ul li{
	   line-height:29px;
		cursor: pointer;
		font-size:14px;
		width:190px;
		border-bottom:1px solid #e6e6e6;
	}
	.content_bottom_left ul li a:hover{

		color:red;
	}
	.content_bottom_left ul .delete{
		display: inline-block;
		font-size:12px;
		color:#808080;
		float:right;
	}
	.content_bottom_left ul .delete:hover{
		color:#000000;
	}
	.content_bottom_middle{
		
		width:745px;
		background-color:#f7f6f2;
		margin-left:10px;
		margin-top: 10px;
		float: left;
		

	}
	

	.content_bottom_middle_top .zi{
		font-size:16px;
		font-weight: bold;
	}
	.content_bottom_middle_top .img1{
		width:105px;
		height:140px;
	}
	.content_bottom_middle_top .zi a:hover{
		color:red;
	}
	.content_bottom_middle_top .zi1{
		color:#808080;

	}
	.content_bottom_middle_top ul{
    transition: all 2s;
    display: none;
  }
	.content_bottom_middle_top ul li{
		float:left;
		text-align:center;
		padding:0 20px;
		padding-top:20px;

	}
	.content_bottom_middle_top ul li h2{
		font-size:16px;
		padding-top:23px;
	}
	.content_bottom_xia{
		margin-top:41px;
		width:700px;
		height:60px;
		
	}
	.content_bottom2{
		width:300px;
		height:50px;
		
	} 

.content_bottom_xia div{
  float: left;
  margin-left: 200px;
  height:80px;


}
	.content_bottom2_left{
		position: relative;
		width:50px;
		height:60px;
		background-color:#ed4259;
		margin-left:15px;
}
}
		
	.content_bottom2_left1 ul li{
		line-height: 25px;
	}	
	
	.content_bottom2_left p{
		font-size:14px;
		padding:5px 10px;
		color:white;
	}
	

    .icon9:after{
	content:"\e607";
	font-size:46px;
	color:#ed4259;
	position: absolute;
	top:-10px;
	left:25px;
	}
	.content_bottom2_left1{
		margin:0px 15px;
	}
	.content_bottom2_left1 ul .long{
          font-size:14px;
	}
	.content_bottom2_left1 ul .write{
		font-size:13px;
		color:#808080;
	}
	.content_bottom2_right ul .long{
		font-size:13px;
	}
	.content_bottom2_right .write{
		color:#808080;
		font-size:13px;
	}
	.content_bottom2_right{

		line-height: 25px;
		margin-left:150px;
		
	}
	.content_bottom2_right ul .long{
		font-size:14px;
	}

	.content_right1{
       width:215px;
		background-color:#f7f6f2;
		margin-left:10px;
		float: left;
	}
	.content_right_top .tor{
		/*width:85px;*/
		background-color:#bf2c24;
		margin-top:15px;
		color:white;
		text-align: center;
		margin-left:10px;
	}
	.content_right_top .tor1{
		margin-left:10px;
		margin-top:3px;
		font-size: 11px;
	}
	.content_right_top .tor2{
		margin-left:8px;
		margin-top:7px;
		font-size: 11px;
	}
	.content_right_top .tor3 a{
		color:#808080;
	}
	.content_right_top .tor3 a:hover{
		color:#000000;
	}
	.content_right_middle .ttor{
		/*width:55px;*/
		background-color:#e67225;
		margin-top:15px;
		color:white;
		text-align: center;
		margin-left:10px;
	}
	.content_right_middle ul li {
		font-size:14px;
		line-height:28px;
		margin-left:5px;
	}
	.content_right_middle ul li a:hover{
		color:red;
	}
	.content_right_middle .blod{
		font-weight: bold;
		color:#808080;
	}